<!DOCTYPE html>
<html>
<head>
<title>Demos RA</title>
</head>
<body>
<h1>Démonstrations Réalité augmentée</h1>
<div>
<a href="/cube">Cube</a>
<a href="/terre">Terre</a>
<a href="/ogre">Ogre</a>
</div>
</body>
</html>
