<% include header %>

	<title>Demo RA Ogre</title>
</head>
<boby>
	<div>
	<h1>Réalité augmentée - Ogre</h1>
	</div>
	<div id="container"></div>
	<script src="devjs/ogre.js"></script>


<% include footer %>
